.row {
  flex-direction: row;
  display: flex;
  width: 80%;
}

.background {
  background-color: salmon;
  height: auto;
  flex-direction: column;
  display: flex;
}

.bottomWhat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.pTag {
  margin: auto;
  align-items: center;
}