.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30%;
  align-items: flex-start;

}

.footerDiv {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.help{
  margin-top: 10vh;
}
.topFooter {
  width: 100%;
  height: 15%;
  text-align: center;
  margin: auto;
}

.bottom {
  width: 100%;
  height:15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftBottom {

}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.rightBotton {
  display: flex;
  flex-direction: row;

}
