.what {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.whatText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.headWhat {
  text-align: center;
}

.whatTextCont {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 2em;
  }
}



.pTag {
  margin: auto;
  align-items: center;
}

button {
  width: 17%;
  margin: auto;
  text-align: center;
  margin-top: 1vh;
}
